includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 8

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false

    checkModelProperties: true

    checkOctaneCompatibility: true

    ignoreErrors:
        - '#App\\Models\\User\|null#'
